@page "{rowGuid?}"
@using Indotalent.Models.Enums
@model Indotalent.Pages.Companies.CompanyFormModel
@{
    Layout = "~/Pages/Shared/AdminLTE/_Admin.cshtml";
    var statusMessage = Model.StatusMessage;
    Model.StatusMessage = string.Empty;
}

<div class="form-card">
    <form id="formMain" method="post" novalidate="">
        <input type="hidden" asp-for="@Model.CompanyForm.Id" />
        <input type="hidden" asp-for="@Model.CompanyForm.RowGuid" />
        <div class="form-card-body">

            <p class="small-italic-left">General</p>
            <fieldset>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.CompanyForm.Name" class="form-label"></label>
                            <input asp-for="@Model.CompanyForm.Name" />
                        </div>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.CompanyForm.TimeZone" class="form-label"></label>
                            <select asp-for="@Model.CompanyForm.TimeZone" asp-items="@Model.TimeZoneLookup" class="form-control">
                                <option value="">-- Select TimeZone --</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.CompanyForm.Currency" class="form-label"></label>
                            <select asp-for="@Model.CompanyForm.Currency" asp-items="@Model.CurrencyLookup" class="form-control">
                                <option value="">-- Select Currency --</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="@Model.CompanyForm.Description" class="form-label"></label>
                            <textarea asp-for="@Model.CompanyForm.Description" class="form-control" rows="6"></textarea>
                        </div>
                    </div>
                </div>
            </fieldset>


            <p class="small-italic-left">Address</p>
            <fieldset>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.CompanyForm.Street" class="form-label"></label>
                            <input asp-for="@Model.CompanyForm.Street" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.CompanyForm.ZipCode" class="form-label"></label>
                            <input asp-for="@Model.CompanyForm.ZipCode" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.CompanyForm.City" class="form-label"></label>
                            <input asp-for="@Model.CompanyForm.City" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.CompanyForm.Country" class="form-label"></label>
                            <select asp-for="@Model.CompanyForm.Country" asp-items="@Model.CountryLookup" class="form-control">
                                <option value="">-- Select Country --</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.CompanyForm.State" class="form-label"></label>
                            <input asp-for="@Model.CompanyForm.State" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
            </fieldset>


            <p class="small-italic-left">Communications</p>
            <fieldset>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.CompanyForm.PhoneNumber" class="form-label"></label>
                            <input asp-for="@Model.CompanyForm.PhoneNumber" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.CompanyForm.EmailAddress" class="form-label"></label>
                            <input asp-for="@Model.CompanyForm.EmailAddress" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.CompanyForm.FaxNumber" class="form-label"></label>
                            <input asp-for="@Model.CompanyForm.FaxNumber" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.CompanyForm.Website" class="form-label"></label>
                            <input asp-for="@Model.CompanyForm.Website" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.CompanyForm.WhatsApp" class="form-label"></label>
                            <input asp-for="@Model.CompanyForm.WhatsApp" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
            </fieldset>


            <p class="small-italic-left">Social Media</p>
            <fieldset>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.CompanyForm.LinkedIn" class="form-label"></label>
                            <input asp-for="@Model.CompanyForm.LinkedIn" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.CompanyForm.Facebook" class="form-label"></label>
                            <input asp-for="@Model.CompanyForm.Facebook" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.CompanyForm.TwitterX" class="form-label"></label>
                            <input asp-for="@Model.CompanyForm.TwitterX" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.CompanyForm.Instagram" class="form-label"></label>
                            <input asp-for="@Model.CompanyForm.Instagram" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.CompanyForm.TikTok" class="form-label"></label>
                            <input asp-for="@Model.CompanyForm.TikTok" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
            </fieldset>

        </div>
        <div class="form-card-footer">
            <button type="submit" id="btnSubmit" class="e-btn e-control @(Model.Action == "delete" ? "e-danger" : "")">@(Model.Action == "delete" ? "Delete" : "Submit")</button>
        </div>

    </form>
</div>

@section Scripts{
    <script>
        document.addEventListener('DOMContentLoaded', function () {

            

            showStatusMessage('@statusMessage');

            new ej.inputs.TextBox({}, '#CompanyForm_Name');
            new ej.inputs.TextBox({}, '#CompanyForm_Description');
            new ej.dropdowns.DropDownList({ allowFiltering: true }, '#CompanyForm_TimeZone');
            new ej.dropdowns.DropDownList({ allowFiltering: true }, '#CompanyForm_Currency');
            new ej.inputs.TextBox({}, '#CompanyForm_Street');
            new ej.inputs.TextBox({}, '#CompanyForm_City');
            new ej.inputs.TextBox({}, '#CompanyForm_State');
            new ej.inputs.TextBox({}, '#CompanyForm_ZipCode');
            new ej.dropdowns.DropDownList({ allowFiltering: true }, '#CompanyForm_Country');
            new ej.inputs.TextBox({}, '#CompanyForm_PhoneNumber');
            new ej.inputs.TextBox({}, '#CompanyForm_FaxNumber');
            new ej.inputs.TextBox({}, '#CompanyForm_WhatsApp');
            new ej.inputs.TextBox({}, '#CompanyForm_EmailAddress');
            new ej.inputs.TextBox({}, '#CompanyForm_Website');
            new ej.inputs.TextBox({}, '#CompanyForm_LinkedIn');
            new ej.inputs.TextBox({}, '#CompanyForm_Facebook');
            new ej.inputs.TextBox({}, '#CompanyForm_TwitterX');
            new ej.inputs.TextBox({}, '#CompanyForm_Instagram');
            new ej.inputs.TextBox({}, '#CompanyForm_TikTok');
            new ej.buttons.Button({ isPrimary: true }, '#btnSubmit');

            var validationOptions = {
                rules: {
                    'CompanyForm.Name': { required: true },
                    'CompanyForm.Currency': { required: true },
                    'CompanyForm.TimeZone': { required: true }
                }
            }

            var formValidator = new ej.inputs.FormValidator('#formMain', validationOptions);
            var formElement = document.getElementById('formMain');
            formElement.addEventListener('submit', function (e) {
                e.preventDefault();
                if (formValidator.validate()) {
                    formElement.submit();
                }
            })

        });
    </script>
}
