@page "{id?}"
@model Indotalent.Pages.NegativeAdjustments.NegativeAdjustmentPdfModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Negative Adjustment</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 12px;
        }

        @@media print {
            @@page {
                size: A4;
                margin: 0;
            }

            body {
                margin: 1.5cm;
            }
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 1rem;
        }

        th, td {
            padding: 0.5rem;
        }

        th {
            background-color: #e9ecef;
        }

            th:first-child {
                border-right: none;
            }

        h1, h2 {
            margin-top: 1rem;
            margin-bottom: 1rem;
            text-align: center;
        }

        .info {
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            background-color: #f2f2f2;
            padding: 10px;
        }

        .small-info {
            font-size: 10px;
            text-align: center;
        }

        .total-info {
            font-weight: bold;
            text-align: right;
        }

        .underline {
            border-bottom: 1px solid #000;
        }

        .text-end {
            text-align: right;
        }

        #order-details tbody tr:nth-child(odd) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    @if (Model.AdjustmentMinus != null && Model.InventoryTransactions != null && Model.Company != null)
    {
        <div class="container">
            <h1>Negative Adjustment</h1>
            <div class="info">
                <p>@Model.Company.Name</p>
                <p>@Model.CompanyAddress</p>
            </div>
            <table>
                <tr>
                    <td style="width: 50%; text-align: left;">
                        <h2 class="small-info">Other Information</h2>
                        <p class="small-info"><strong>Number:</strong> @Model.AdjustmentMinus.Number</p>
                        <p class="small-info"><strong>Date:</strong> @Model.AdjustmentMinus.AdjustmentDate?.ToString("yyyy-MM-dd")</p>
                    </td>
                    <td style="width: 50%; text-align: right;">
                    </td>
                </tr>
            </table>
            <div class="row mt-4">
                <div class="col">
                    <h2>Adjusted Items</h2>
                    @if (Model?.InventoryTransactions?.Any() == true)
                    {
                        <table id="order-details">
                            <thead>
                                <tr>
                                    <th style="width: 20%;" class="text-start">Warehouse</th>
                                    <th style="width: 40%;" class="text-start">Product</th>
                                    <th style="width: 20%;" class="text-end">Adjusted</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.InventoryTransactions)
                                {
                                    <tr>
                                        <td class="text-start">@item.Warehouse?.Name</td>
                                        <td class="text-start">@item.Product?.Name</td>
                                        <td class="text-end">@((item.Movement * -1.0).ToString("+0.00;-0.00;0.00")) @item.Product?.UnitMeasure?.Name</td>
                                    </tr>

                                }
                            </tbody>
                        </table>

                    }

                </div>
            </div>
            <div class="row mt-4">
                <div class="col">
                </div>
            </div>
        </div>
    }
    else
    {
        <h1>No Data Found.</h1>
    }

</body>
</html>








