@page "{rowGuid?}"
@using Indotalent.Models.Enums
@using System.Text.Json
@using System.Text.Json.Serialization
@model Indotalent.Pages.PurchaseOrders.PurchaseOrderFormModel
@{
    Layout = "~/Pages/Shared/AdminLTE/_Admin.cshtml";
    var statusMessage = Model.StatusMessage;
    Model.StatusMessage = string.Empty;

    var productLookupJson = JsonSerializer.Serialize(Model.ProductLookup);
    var priceLookupJson = JsonSerializer.Serialize(Model.PriceLookup);
    var numberLookupJson = JsonSerializer.Serialize(Model.NumberLookup);
}

<div class="form-card">
    <form id="formMain" method="post" novalidate="">
        <input type="hidden" asp-for="@Model.PurchaseOrderForm.RowGuid" />
        <input type="hidden" asp-for="@Model.PurchaseOrderForm.Id" />
        <div class="form-card-body">

            <p class="small-italic-left">General</p>
            <fieldset>
                <div class="row">
                    <div class="col-md-12">
                        @if (!string.IsNullOrEmpty(Model.Number))
                        {
                            <h1>@Model.Number</h1>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.PurchaseOrderForm.VendorId" class="form-label"></label>
                            <select asp-for="@Model.PurchaseOrderForm.VendorId" asp-items="@Model.VendorLookup" class="form-control">
                                <option value="">-- Select Vendor --</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.PurchaseOrderForm.OrderDate" class="form-label"></label>
                            <input asp-for="@Model.PurchaseOrderForm.OrderDate" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="@Model.PurchaseOrderForm.Description" class="form-label"></label>
                            <textarea asp-for="@Model.PurchaseOrderForm.Description" class="form-control" rows="6"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.PurchaseOrderForm.TaxId" class="form-label"></label>
                            <select asp-for="@Model.PurchaseOrderForm.TaxId" asp-items="@Model.TaxLookup" class="form-control">
                                <option value="">-- Select Tax --</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.PurchaseOrderForm.OrderStatus" class="form-label"></label>
                            <select asp-for="@Model.PurchaseOrderForm.OrderStatus" asp-items="Html.GetEnumSelectList<PurchaseOrderStatus>()" class="form-control">
                                <option value="">-- Select Status --</option>
                            </select>
                        </div>
                    </div>
                </div>
            </fieldset>


        </div>
        <div class="form-card-footer">
            <button type="submit" id="btnSubmit" class="e-btn e-control @(Model.Action == "delete" ? "e-danger" : "")">@(Model.Action == "delete" ? "Delete" : "Submit")</button>
        </div>

    </form>


    @if (!string.IsNullOrEmpty(Model.Number))
    {
        <p class="small-italic-left">Order Items</p>
        <fieldset class="mb-5">
            <div class="row">
                <div class="col-md-12">
                    <div id="Grid"></div>
                </div>
                <div class="col-md-12 mt-2">
                    <div class="row me-1">
                        <div class="col-3"></div>
                        <div class="col-3"></div>
                        <div class="col-3">
                            <label class="form-label" asp-for="@Model.PurchaseOrderForm.BeforeTaxAmount" class="form-label"></label>
                        </div>
                        <div class="col-3 border-bottom">
                            <input class="form-control-plaintext text-end" asp-for="@Model.PurchaseOrderForm.BeforeTaxAmount" type="text" value="@String.Format("{0:N2}", Model.PurchaseOrderForm.BeforeTaxAmount)" />
                        </div>
                    </div>
                    <div class="row me-1">
                        <div class="col-3"></div>
                        <div class="col-3"></div>
                        <div class="col-3">
                            <label class="form-label" asp-for="@Model.PurchaseOrderForm.TaxAmount" class="form-label"></label>
                        </div>
                        <div class="col-3 border-bottom">
                            <input class="form-control-plaintext text-end" asp-for="@Model.PurchaseOrderForm.TaxAmount" type="text" value="@String.Format("{0:N2}", Model.PurchaseOrderForm.TaxAmount)" />
                        </div>
                    </div>
                    <div class="row me-1">
                        <div class="col-3"></div>
                        <div class="col-3"></div>
                        <div class="col-3">
                            <label class="form-label" asp-for="@Model.PurchaseOrderForm.AfterTaxAmount" class="form-label"></label>
                        </div>
                        <div class="col-3 border-bottom">
                            <input class="form-control-plaintext text-end" asp-for="@Model.PurchaseOrderForm.AfterTaxAmount" type="text" value="@String.Format("{0:N2}", Model.PurchaseOrderForm.AfterTaxAmount)" />
                        </div>
                    </div>
                </div>

            </div>
        </fieldset>
    }

</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {

            

            showStatusMessage('@statusMessage');

            new ej.inputs.TextBox({}, '#PurchaseOrderForm_Description');
            new ej.dropdowns.DropDownList({ allowFiltering: true }, '#PurchaseOrderForm_VendorId');
            new ej.dropdowns.DropDownList({ allowFiltering: true }, '#PurchaseOrderForm_TaxId');
            new ej.dropdowns.DropDownList({}, '#PurchaseOrderForm_OrderStatus');
            new ej.calendars.DateTimePicker({}, '#PurchaseOrderForm_OrderDate');
            new ej.buttons.Button({ isPrimary: true }, '#btnSubmit');

            var validationOptions = {
                rules: {
                    'PurchaseOrderForm.VendorId': { required: true },
                    'PurchaseOrderForm.TaxId': { required: true },
                    'PurchaseOrderForm.OrderDate': { required: true },
                    'PurchaseOrderForm.OrderStatus': { required: true },
                }
            }

            var formValidator = new ej.inputs.FormValidator('#formMain', validationOptions);
            var formElement = document.getElementById('formMain');
            formElement.addEventListener('submit', function (e) {
                e.preventDefault();
                if (formValidator.validate()) {
                    formElement.submit();
                }
            })

        });
    </script>

    <script>

        var products = @Html.Raw(productLookupJson);
        var productLookup = {};
        products.forEach(function (product) {
            productLookup[product.ProductId] = product.ProductName;
        });


        var prices = @Html.Raw(priceLookupJson);
        var priceLookup = {};
        prices.forEach(function (product) {
            priceLookup[product.ProductId] = product.ProductPrice;
        });


        var numbers = @Html.Raw(numberLookupJson);
        var numberLookup = {};
        numbers.forEach(function (product) {
            numberLookup[product.ProductId] = product.ProductNumber;
        });


        var gridContainer = document.getElementById('Grid');
        if (gridContainer) {
            var grid = new ej.grids.Grid({
                dataSource: new ej.data.DataManager({
                    url: '/odata/PurchaseOrderItemChild',
                    adaptor: new ej.data.ODataV4Adaptor(),
                    headers: [
                        { ParentId: "@Model.PurchaseOrderForm.Id" }
                    ]
                }),
                editSettings: { allowEditing: true, allowAdding: true, allowDeleting: true, showDeleteConfirmDialog: true, mode: 'Normal' },
                allowFiltering: false,
                allowSorting: false,
                allowSelection: true,
                allowGrouping: false,
                allowTextWrap: true,
                allowResizing: false,
                allowPaging: false,
                allowExcelExport: true,
                filterSettings: { type: 'CheckBox' },
                selectionSettings: { persistSelection: true, type: 'Single' },
                autoFit: false,
                showColumnMenu: false,
                gridLines: 'Horizontal',
                columns: [
                    { type: 'checkbox', width: 50 },
                    { field: 'Id', isPrimaryKey: true, headerText: 'Id', visible: false },
                    {
                        field: 'ProductId',
                        headerText: 'Product',
                        width: 200,
                        validationRules: { required: true },
                        disableHtmlEncode: false,
                        valueAccessor: (field, data, column) => {
                            return productLookup[data[field]];
                        },
                        editType: 'dropdownedit',
                        edit: {
                            create: () => {
                                productElem = document.createElement('input');
                                return productElem;
                            },
                            read: () => {
                                return productObj.value;
                            },
                            destroy: function () {
                                productObj.destroy();
                            },
                            write: function (args) {
                                productObj = new ej.dropdowns.DropDownList({
                                    dataSource: @Html.Raw(productLookupJson),
                                    fields: { value: 'ProductId', text: 'ProductName' },
                                    change: function () {
                                        priceObj.value = priceLookup[productObj.value];
                                        summaryObj.value = numberLookup[productObj.value];
                                    },
                                    placeholder: 'Select a Product',
                                    floatLabelType: 'Never'
                                });
                                productObj.value = args.rowData.ProductId;
                                productObj.appendTo(productElem);
                            }
                        },
                    },
                    {
                        field: 'Summary',
                        width: 100,
                        edit: {

                            create: () => {
                                summaryElem = document.createElement('input');
                                return summaryElem;
                            },
                            read: () => {
                                return summaryObj.value;
                            },
                            destroy: () => {
                                summaryObj.destroy();
                            },
                            write: (args) => {
                                summaryObj = new ej.inputs.TextBox();
                                summaryObj.value = args.rowData.Summary;
                                summaryObj.appendTo(summaryElem);
                            }

                        }
                    },
                    {
                        field: 'UnitPrice',
                        width: 100, validationRules: { required: true }, type: 'number', format: 'N2', textAlign: 'Right',
                        edit: {

                            create: () => {
                                priceElem = document.createElement('input');
                                return priceElem;
                            },
                            read: () => {
                                return priceObj.value;
                            },
                            destroy: function () {
                                priceObj.destroy();
                            },
                            write: function (args) {
                                priceObj = new ej.inputs.TextBox();
                                priceObj.value = args.rowData.UnitPrice;
                                priceObj.appendTo(priceElem);
                            }
                        }
                    },
                    {
                        field: 'Quantity', width: 100,
                        validationRules: {
                            required: true,
                            custom: [(args) => {
                                return args['value'] > 0;
                            }, 'Must be a positive number and not zero']
                        },
                        type: 'number', format: 'N2', textAlign: 'Right', defaultValue: '1'
                    },
                    { field: 'Total', width: 100, allowEditing: false, type: 'number', format: 'N2', textAlign: 'Right' },
                ],
                toolbar: [
                    'ExcelExport',
                    { type: 'Separator' },
                    'Add', 'Edit', 'Delete', 'Update', 'Cancel',
                    { type: 'Separator' },
                    { text: 'Download Pdf', tooltipText: 'Download Pdf', prefixIcon: 'e-export-pdf', id: 'PdfCustom' },
                ],
                beforeDataBound: () => {
                },
                dataBound: function () {
                },
                excelExportComplete: () => {
                },
                rowSelected: () => {
                },
                rowDeselected: () => {
                },
                rowSelecting: () => {
                    if (grid.getSelectedRecords().length) {
                        grid.clearSelection();
                    }
                },
                toolbarClick: (args) => {
                    if (args.item.id === 'Grid_excelexport') {
                        grid.excelExport();
                    }

                    if (args.item.id === 'PdfCustom') {
                        var formUrl = '/PurchaseOrders/PurchaseOrderDownload?id=' + '@Model.PurchaseOrderForm.Id';
                        window.location.href = formUrl;
                    }
                },
                actionComplete: (args) => {

                    if (args.requestType === 'save' || args.requestType === 'delete') {

                        let message = 'Delete Process Success';
                        switch (args.action) {
                            case 'add':
                                message = 'Add Process Success';
                                break;
                            case 'edit':
                                message = 'Edit Process Success';
                                break;
                            default:
                                break;
                        }

                        new ej.notifications.Toast({
                            content: message,
                            cssClass: "e-toast-success",
                            icon: 'e-success toast-icons',
                            position: { X: "Center", Y: "Bottom" }
                        }, '#SFToast').show();



                        const purchaseOrderKey = '@Model.PurchaseOrderForm.Id';
                        fetch(`/odata/PurchaseOrder(${purchaseOrderKey})`)
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error('Network response was not ok');
                                }
                                return response.json();
                            })
                            .then(data => {
                                setTimeout(() => {
                                    document.getElementById('PurchaseOrderForm_BeforeTaxAmount').value = formatNumberToN2(data.BeforeTaxAmount);
                                    document.getElementById('PurchaseOrderForm_TaxAmount').value = formatNumberToN2(data.TaxAmount);
                                    document.getElementById('PurchaseOrderForm_AfterTaxAmount').value = formatNumberToN2(data.AfterTaxAmount);
                                }, 500);
                            })
                            .catch(error => {
                                console.error('There was a problem with the fetch operation:', error);
                            });


                    }
                }
            });


            grid.appendTo('#Grid');
        }

    </script>

}
