@page "{id?}"
@using Indotalent.Models.Enums
@model Indotalent.Pages.Users.UserFormModel
@{
    Layout = "~/Pages/Shared/AdminLTE/_Admin.cshtml";
    var pageAction = Model.Action;
    var statusMessage = Model.StatusMessage;
    Model.StatusMessage = string.Empty;
}
<div class="form-card">
    <form id="formMain" method="post" novalidate="">
        <input type="hidden" asp-for="@Model.UserForm.Id" />
        <div class="form-card-body">

            <p class="small-italic-left">General</p>
            <fieldset>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.UserForm.Email" class="form-label"></label>
                            <input asp-for="@Model.UserForm.Email" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.UserForm.JobTitle" class="form-label"></label>
                            <input asp-for="@Model.UserForm.JobTitle" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.UserForm.FullName" class="form-label"></label>
                            <input asp-for="@Model.UserForm.FullName" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.UserForm.SelectedCompanyId" class="form-label"></label>
                            <select asp-for="@Model.UserForm.SelectedCompanyId" asp-items="@Model.CompanyLookup" class="form-control">
                                <option value="">-- Select Company --</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-check">
                                <input asp-for="@Model.UserForm.IsDefaultAdmin" type="checkbox" class="form-check-input" />
                                <label class="form-check-label" asp-for="@Model.UserForm.IsDefaultAdmin">Is Default Admin</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-check">
                                <input asp-for="@Model.UserForm.EmailConfirmed" type="checkbox" class="form-check-input" />
                                <label class="form-check-label" asp-for="@Model.UserForm.EmailConfirmed">Email Confirmed</label>
                            </div>
                        </div>
                    </div>
                </div>


            </fieldset>


            <p class="small-italic-left">Address</p>
            <fieldset>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.UserForm.Address" class="form-label"></label>
                            <input asp-for="@Model.UserForm.Address" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.UserForm.ZipCode" class="form-label"></label>
                            <input asp-for="@Model.UserForm.ZipCode" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.UserForm.City" class="form-label"></label>
                            <input asp-for="@Model.UserForm.City" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.UserForm.Country" class="form-label"></label>
                            <select asp-for="@Model.UserForm.Country" asp-items="@Model.CountryLookup" class="form-control">
                                <option value="">-- Select Country --</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.UserForm.State" class="form-label"></label>
                            <input asp-for="@Model.UserForm.State" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
            </fieldset>

            @if (Model.Action == "create")
            {
                <p class="small-italic-left">Password</p>
                <fieldset>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="@Model.UserForm.Password" class="form-label"></label>
                                <input asp-for="@Model.UserForm.Password" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="@Model.UserForm.ConfirmPassword" class="form-label"></label>
                                <input asp-for="@Model.UserForm.ConfirmPassword" class="form-control"/>
                            </div>
                        </div>
                    </div>
                </fieldset>
            }

        </div>
        <div class="form-card-footer">
            <button type="submit" id="btnSubmit" class="e-btn e-control @(Model.Action == "delete" ? "e-danger" : "")">@(Model.Action == "delete" ? "Delete" : "Submit")</button>
        </div>

    </form>
</div>






@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {

            

            showStatusMessage('@statusMessage');

            new ej.inputs.TextBox({}, '#UserForm_FullName');
            new ej.inputs.TextBox({}, '#UserForm_JobTitle');
            new ej.dropdowns.DropDownList({ allowFiltering: true }, '#UserForm_SelectedCompanyId');
            new ej.inputs.TextBox({}, '#UserForm_Address');
            new ej.inputs.TextBox({}, '#UserForm_City');
            new ej.inputs.TextBox({}, '#UserForm_State');
            new ej.inputs.TextBox({}, '#UserForm_ZipCode');
            new ej.inputs.TextBox({}, '#UserForm_Password');
            new ej.inputs.TextBox({}, '#UserForm_ConfirmPassword');
            new ej.inputs.TextBox({}, '#UserForm_Email');
            new ej.dropdowns.DropDownList({ allowFiltering: true }, '#UserForm_Country');
            new ej.buttons.Button({ isPrimary: true }, '#btnSubmit');

            var pageAction = '@pageAction'; 
            var validationOptions;

            if (!pageAction) {
                validationOptions = {
                    rules: {
                        'UserForm.Email': { required: true },
                        'UserForm.Password': { required: true },
                        'UserForm.ConfirmPassword': { required: true },
                        'UserForm.SelectedCompanyId': { required: true }
                    }
                };
            } else {
                validationOptions = {
                    rules: {
                        'UserForm.Email': { required: true },
                        'UserForm.SelectedCompanyId': { required: true }
                    }
                };
            }



            var formValidator = new ej.inputs.FormValidator('#formMain', validationOptions);
            var formElement = document.getElementById('formMain');
            formElement.addEventListener('submit', function (e) {
                e.preventDefault();
                if (formValidator.validate()) {
                    formElement.submit();
                }
            })

        });
    </script>
}


